apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      tolerations:
        - key: "subnet"
          operator: "Equal"
          value: "public"
          effect: "NoSchedule"
      containers:
      - name: frontend
        imagePullPolicy: Always
        image: 211125517754.dkr.ecr.ap-south-1.amazonaws.com/frontend
        ports:
        - containerPort: 3000